/* Ліва частина */
.registerPage{
    display: flex;
    flex-direction: row;
}
.registerpageLeft {
    position: relative;   
    width: 590px;/**/
    height: 1343px;/* має бути така висота*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/img/register.jpg);
    background-size: cover; /* або 'contain', залежно від вашого вибору */
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /* Права частина */
  .form-container {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;     
    align-items: flex-start;  
  }
  
  /* Загальні стилі для тексту та інпутів */
  .registerText1, .registerText2, .registerText3, .registerText4, .registerText5, .registerText6, .registerTextPrivacy {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 10px;
  }
  
  .rec109, .rec110, .rec114, .rec115, .rec116, .rec117 {
    margin-bottom: 10px;   
    box-sizing: border-box;
    width: 428px;
    height: 50px;
    border: 1px solid #646464;
    border-radius: 5px;
    margin-left: 100px;    
  }
  .rect11 {
    display: flex;
    flex-direction: row;
    width: 428px;
    height: 50px;
    margin-top: 20px;
    margin-left: 100px;
  }

  .textrect11{
    margin-left: 10px;
  }
  .error {
    width: 428px;
    color: red;
    margin-top: 5px;
    margin-left: 100px;
    margin-left: 100px;
  }

  /*  стилі для кнопки */
  .buttonRegister {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    margin-left: 100px;
    width: 428px;
    height: 50px;
    background: #000000;
    border-radius: 30px
  }
  .buttonRegisterText{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  @media (max-width: 1150px) {
    .registerText1, .registerText2, .registerText3, .registerText4, .registerText5, .registerText6, .error {
      margin-left: 10px;
      margin-right: 5px;
    }
  
    .rec109, .rec110, .rec114, .rec115, .rec116, .rec117, .buttonRegister {
      margin-left: 10px;
      margin-right: 5px;
    }
  
    .rect11 {
      margin-left: 10px;
      margin-right: 5px;
    }
  }