.container {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding: 0.5rem 0;
  background-color: var(--primary-color);
  color: var(--text-white-color);
}

.scroller {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  max-width: 100%;
}

.scroller-inner {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  white-space: nowrap;
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 360s forwards linear infinite;
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  display: inline;
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  user-select: none;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}