@import "../../../../global.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  border: 1px solid $text-gray-color;
  border-radius: $button-radius;
  padding: 10px;

  input {
    width: 100%;
    height: 100%;
    padding: 3px 0 3px 0;
    margin-right: 13px;
    border: none;
  }
  
  input[type='text'] {
    font-size: 1.1rem;
    // border-top: solid 1px transparent;
    // border-bottom: solid 1px transparent;
  }
  
  input[type='text']:focus {
    outline: none;
    // border-bottom: 1px solid $text-black-color;
  }
}

.svg-icon-container {
  overflow: auto;
  height: 25px;
  cursor: pointer;
  // border: 1px dashed #aaa;
}

svg {
  width: 100%;
  height: 100%;
}