.Frame20row{
    display: flex;
    flex-direction: row;
    flex: 1;
  }
.Frame21{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;     
    margin-top: 20px;
    gap: 10px;
    position: relative;
    width: 161px;
    height: 40px;
    background: #F2F2F2;
    border-radius: 30px;
}

.Frame21Text{
    width: 121px;
    height: 17px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}