@import '../../../global.scss';

input {
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid $text-gray-color;
  font-size: 1rem;
}

input:focus {
  outline: none;
}

label {
  user-select: none;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  font-weight: 500;
}

button {
  margin-top: 1.5rem;
}

.error {
  color: #cc0000;
}