.loadingSpinnerPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100vw;

  .loadingSpinnerContainer {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
}

.productDetailsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: $padding-base;
  margin: 0 auto;
  margin-top: 3rem;
  max-width: $bp-w-lg;

  .productShowcaseContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 2rem;

    /* Small - Extra small screens */
    @media screen and (max-width: calc($bp-w-md - 1px)) {
      flex-direction: column;
      gap: 4rem;
    }

    /* Medium screens */
    @media screen and (min-width: $bp-w-md) and (max-width: calc($bp-w-lg - 1px)) {
      > :first-child {
        flex: 0 0 60%;
      }
    }

    /* Large screens */
    @media screen and (min-width: $bp-w-lg) {
      > :first-child {
        flex: 0 0 50%;
      }
    }

    .productOptionsContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      gap: 2rem;

      .sectionGeneralInfo {
        display: flex;
        flex-direction: column;

        .generalInfoProductName {
          font-size: 1.2em;
          font-weight: 600;
        }

        .generalInfoProductArticleName {
          font-size: 0.9em;
          font-weight: 500;
        }

        .generalInfoPriceContainer {
          display: flex;
          flex-direction: column;
          margin-top: 0.5em;
        }
        
        .priceFinal {
          font-weight: 700;
          font-size: 2em;
        }
        
        .discount {
          color: #d91616;
          font-size: 1rem;
          font-weight: 700;
        }

        .oldPrice {
          font-size: 1rem;
          text-decoration: line-through;
        }
        
        .discountContainer {
          display: flex;
          flex-direction: row;
          gap: 0.5rem;
          margin-top: 0.7rem;
        }
      
      }

      .sectionCharacteristicButtons {
        display: flex;
        flex-direction: column;

        // Remove general gap and use margins
        & > * {
          margin-top: 1rem; // Default gap for all elements
        }

        // Special gap for the first element
        & > :first-child {
          margin-top: 0; // No gap before the first element
        }

        & > :nth-child(2) {
          margin-top: 0.3em;
        }

        .characteristicSectionLabel {
          font-weight: 600;
          font-size: 1.35em;
        }

        .characteristicButton {
          padding: 10px 30px;
          cursor: pointer;
          border: 2px solid $color-icon-gray;
          border-radius: $radius-btn-default;
          background-color: transparent;
          transition: background-color 0.3s;
          display: flex;
          flex-direction: column;
          width: 100%;
          max-width: 500px;
          text-align: left;
          gap: 0.3em;

          &:hover {
            background-color: rgb(221, 221, 221);
          }

          &:disabled {
            cursor: not-allowed;
            background-color: rgb(221, 221, 221);
            opacity: 0.6;
          }

          /* Small - Extra small screens */
          @media screen and (max-width: calc($bp-w-md - 1px)) {
            max-width: 100%;
          }

          .characteristicButtonName {
            font-weight: 600;
            font-size: 1.05em;
          }

          .characteristicButtonValue {
            font-weight: 500;
            font-size: 0.9em;
          }
        }

        .sideMenu {
          position: fixed;
          right: 0;
          top: 0;
          width: fit-content;
          min-width: 400px;
          height: 100%;
          background-color: white;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
            rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          z-index: 100;
          display: flex;
          flex-direction: column;
          padding: 20px;
          font-size: 1.3em;
          gap: 0.5em;

          /* Small - Extra small screens */
          @media screen and (max-width: calc($bp-w-md - 1px)) {
            width: 100%;
            min-width: 100%;
          }

          button {
            padding: 10px 30px;
            cursor: pointer;
            border: 2px solid $color-icon-gray;
            border-radius: $radius-btn-default;
            background-color: transparent;
            transition: background-color 0.3s;
            flex-direction: column;
            width: 100%;

            &:hover {
              background-color: rgb(221, 221, 221);
            }

            &:disabled {
              color: white;
              cursor: not-allowed;
              background-color: $color-primary;
            }
          }

          label {
            font-size: 2rem;
            font-weight: 600;
            text-align: center;
            margin-bottom: 1rem;
          }

          .closeButton {
            margin-top: 1rem;
            margin-bottom: 4rem;
          }
        }
      }
      
      .sectionActionButtons {
        margin-top: 1rem;

        button {
          padding: 10px 30px;
          cursor: pointer;
          border: 2px solid $color-icon-gray;
          border-radius: $radius-btn-default;
          background-color: transparent;
          transition: background-color 0.3s;
          display: flex;
          flex-direction: row; // Changed from column to row
          align-items: center; // Added to center vertically
          justify-content: center;
          width: 100%;
          max-width: 500px;
          text-align: center;
          gap: 0.3em;
          font-weight: 700;

          &:hover {
            background-color: $color-primary;
            color: white;
          }

          &:disabled {
            cursor: not-allowed;
            background-color: rgb(221, 221, 221);
            opacity: 0.6;
          }

          /* Small - Extra small screens */
          @media screen and (max-width: calc($bp-w-md - 1px)) {
            max-width: 100%;
          }
        }
      }
    }
  }

  .productDescriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    margin-bottom: 2rem;

    .content {
      font-size: 0.9em;
    }

    .label {
      margin-top: 2rem;
      font-weight: 700;
      font-size: 2rem;
    }
  }
}
