.productsSection1 {
  position: relative;
  top: 40px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 0;
  background: linear-gradient(180deg, rgba(215, 215, 215, 0.95) 0%, rgba(255, 255, 255, 0) 31.77%), #D9D9D9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
  .productsSection2{
    margin: 100;
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 10;
  }