@import "../../../global.scss";

.fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 0;
  margin: 1rem 0;

  label {
    text-wrap: pretty;
    margin: 0;
  }
}

.gray-text {
  color: $text-gray-color;
}

.checkbox-wrapper {
  label {
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  input {
    visibility: hidden;
    display: none;
  }

  input:checked ~ .checkbox {
    transform: rotate(45deg);
    width: 14px;
    margin-left: 12px;
    margin-top: -10px;
    border-width: 3px;
    border-color: #24c78e;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
  }

  .checkbox {
    display: block;
    width: inherit;
    height: inherit;
    border: 1px solid $text-gray-color;
    border-radius: 6px;
    transition: all 0.375s;
  }
}
