.cardContainer {
  position: relative;
  width: 210px;
  height: 280px;
  text-decoration: none;
  color: $color-text-black;

  a,
  &:visited {
    color: $color-text-black !important;
  }

  /* Small - Extra small screens */
  @media screen and (max-width: calc($bp-w-md - 1px)) {
    width: 160px;
    height: 220px;
  }

  .stickerWrapper {
    position: relative;

    .topSticker {
      position: absolute;
      top: -$radius-card-product;
      right: -$radius-card-product;
      border-radius: 50%;
      background-color: $color-primary;
      color: white;
      padding: 1rem 0.75rem;
      font-size: 1rem;
      z-index: 10;
    }
  }

  .hideOverflowContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: $radius-card-product;
    overflow: hidden;
    border: 1px solid gray;

    .imageContainer {
      flex: 6.5;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: white;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .detailsContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 3.5;
      background-color: white;
      height: 100%;
      padding: 0.7rem 0.9rem 0.9rem 0.9rem;
      line-height: 1;
      text-wrap: pretty;
      overflow: hidden;
      border-top: 1px solid gray;

      .detailsUpper {
        
        .detailsName {
          font-size: 0.9rem;
          font-weight: 700;
        }

        .detailsCategory {
          font-size: 0.8rem;
          font-weight: 400;
          margin-top: 0.2rem;
          white-space: wrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .detailsLower {
        display: flex;
        flex-direction: column;
        gap: .1em;

        .colorDiscount {
          color: #c83025;
        }

        .detailsFinalPrice {
          font-size: 1.4em;
          font-weight: 700;
          flex: 1;
        }

        .detailsPriceChangeContainer {
          display: flex;
          flex-direction: row;
          gap: 0.5em;
          font-size: 0.9em;

          .priceOld {
            text-decoration: line-through;
            font-weight: 500;
          }

          .discount {
            font-weight: 700;
          }
        }
      }
    }
  }
}
