

.homeSection1 {
    display: flex;
    position: relative;      
    flex-direction: column;   
    height: 1026px;        
    background: linear-gradient(180deg, rgba(215, 215, 215, 0.95) 0%, rgba(255, 255, 255, 0) 31.77%), url(img/rectangle15.jpg), #D9D9D9;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;    
}    
.Frame9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    padding: 10px 50px;
    gap: 10px;
    position: relative;
    height: 137px;
}
.Frame9Text{   
    font-family: Montserrat;
    font-size:  96px;
    font-weight: 600;
    line-height: 117px;
    letter-spacing: 0em;
    text-align: center;
    height: 117px; 
    text-transform: uppercase;
    color: #1F1F1F;
    margin-bottom: 5px;
    width:  803px;
    height: 117px;
}
@media (max-width: 800px) {
    .Frame9Text {
        font-size: 90px;
        
    }
}
@media (max-width: 760px) {
    .Frame9Text {
        font-size: 74px;
        
    }
}


.bb{
    display: flex;
    position: relative;              
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;               
    padding: 20px 50px; 
    padding-left: 10%; 
    margin-top: 50px;
    }
.component12{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 50px;
    gap: 10px;
    position: relative;
    height: 60px; /* 60px/1920 */
    background: #000000;
    border-radius: 30px;
    margin-right: 50px;
}
/* створити акаунт та почати! */
.component12Text{
    width: 100%;
    height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
/* Component 38 */
.component38{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    gap: 10px;
    position: relative;
    height: 60px;
    border: 2px solid #000000;
    border-radius: 30px;
}
/* каталог */
.component38Text{
    height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

/* 3 карточки на головній */
.colmhomcard{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}
.component15 {
    position: relative;
    width: 200px;
    height: 250px;
    margin-right: 20px;    
}
.Group58 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.frame16 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #839D9A;
    border-radius: 30px;
    transform: translate(175%, 50%);
    z-index: 2;
}
.top {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.group2 {
    width: 160px;
    height: 212px;
    position: relative;
}

.Rectangle26 {
    width: 100%;
    height: 115px;
    background-image: url(/img/homep1.png);
    border-radius: 15px 15px 0 0;
    justify-content: center;
    align-items: flex-start;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.frame13 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 15px;
}

.bnText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
}
/* текст на головній */
.frame19 {

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 0px;
gap: 10px;

position: absolute;
width: 462px;
height: 36px;
left: 220px;
top: 780px;

}
/* ЛОВИ МОМЕНТ | Знижки до 60% на вибрані категорії товарів! */
.frame19Text {
width: 462px;
height: 20px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #000000;
}







.homeheaders{
    width: 100%;
    height: 29px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%; /* 29px/29 */
    text-transform: uppercase;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 0px;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 50px;    
}

.Frame20click{
    display: flex;
    position: absolute;
    width: 40px;
    height: 40px;
    background: #000000;
    transform: rotate(-90deg);
}

.homeCatalogrow{
    display: flex;
    justify-content:space-between;    
}

@media (max-width: 1128px) {
    .homePage{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        }
        html, body, #root {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
          }
  }
