
.login {
  display: flex;
  flex-direction: row;
}
.loginLeft {
  width: 590px;
  height: 939px;
  background: url(/img/1.jpg);
  position: relative;   
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}
.loginVector {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 40px;
  top: 40px;
}
.loginText1{
  width: 478px;
  height: 78px;  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-align:center;
  text-transform: uppercase;
  color: #1F1F1F;
  padding-top: 200px; 
  }
 
 /* Права частина */
 .formLogin{
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;     
  align-items: flex-start;
  margin-top: 100px;  
}
/* Загальні стилі для тексту та інпутів */
 .loginText2, .loginText3, .loginText5, .loginTextPrivacy {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 10px;
}
.loginText4{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #646464;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 10px;
  text-decoration-line: underline;

}
.loginCheck {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 428px;
  height: 50px;
  margin-top: 20px;
  margin-left: 100px;
}
.loginCheck :last-child {
  margin-left: auto; /* Розташовує останній елемент справа */
  margin-right: 10px;
}
.loginCheckbox {
  width: 20px;
  height: 20px;
}
.loginCheckText{
  margin-left: 10px;
}

.loginInput1, .loginInput2 {
  margin-bottom: 10px;   
  box-sizing: border-box;
  width: 428px;
  height: 50px;
  border: 1px solid #646464;
  border-radius: 5px;
  margin-left: 100px;    
}  
.passwordInputContainer {
  position: relative;
  display: inline-block;
  justify-content:center;     
  align-items: flex-start; 
}
.passwordIcon {
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-90%);
  cursor: pointer;
}

.buttonLogin {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  margin-left: 100px;
  margin-bottom: 50px;
  width: 428px;
  height: 50px;
  background: #000000;
  border-radius: 30px
}
.buttonLoginText{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.buttonLoginRegister {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  margin-left: 100px;
  margin-bottom: 50px;
  width: 428px;
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 30px

}
.buttonLoginRegisterText{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
