@import '../../../global.scss';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 290px;
  border-radius: $card-product-radius;
  text-decoration: none;
  overflow: hidden;

  &:visited {
    color: $text-black-color;
  }

  /* Small screens */
  @media screen and (min-width: $br-sm) and (max-width: calc($br-md - 1px)) {
    width: 170px;
    height: 220px;
  }

  /* Extra small screens */
  @media screen and (max-width: calc($br-sm - 1px)) {
    width: 170px;
    height: 220px;
  }
}

.image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.category-text-name {
  position: absolute;
  bottom: 1.5rem; // Adjust the margin from the bottom
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  color: black;
  background-color: white;
  border-radius: $button-radius;
  padding: 0.5rem 1rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;

  /* Small screens */
  @media screen and (min-width: $br-sm) and (max-width: calc($br-md - 1px)) {
    font-size: 0.8rem;
  }

  /* Extra small screens */
  @media screen and (max-width: calc($br-sm - 1px)) {
    font-size: 0.8rem;
  }
}