
.slick-prev,.slick-next  {
    z-index: 1;
    width: 40px;
    height: 40px;    
}
.slick-slide {
    display: flex;
}
.slick-next {
    margin-top: -10px; /* Коригування вертикального положення */
    right: -10px;
}
.slick-prev  {
   left: -10px;
}