
[class*="__headerText"]{
  display: flex;
  height: 17px;
  font-family: 'Montserrat';
  font-style: normal;  
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;  
  color: #5F5F5F;   
  text-align: center;
}
.__headerText1234{
  /* товари */
  width: 60px;  
}
.__headerText5{
  /* київ */
  width: 33px;
  padding-left: 10px;
}
.__headerText6{
  width:  198px; /* 198px/194 */
  padding-left: 10px;
}

.navListLeft {  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; 
  list-style-type: none;
  padding-left: 94px;
  padding-top: 12px;
  padding-bottom: 20px; 
}
.navListRight {  
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; 
  list-style-type: none;
  padding-top: 12px;
  padding-bottom: 20px; 
}
.navListLeft li {
  margin-right: 30px;
}
.navListRight li {
  margin-right: 30px;
}
.headerMenu {
  display: flex;
  position: relative;
  justify-content: space-between;
 
}
.headerRow{
  display: flex;
  flex-direction: row;
  align-items: center;  
}

@media (max-width: 1200px) {
  .headerMenu {
    padding: 0 20px; /* Add padding to the header when it reaches the max-width */
  }
}

@media (max-width: 768px) {
  .headerMenu {
    padding: 0 10px; /* Further reduce padding for smaller screens */
  }
}







