/*  Colors  */
$primary-color: #839d9a;
$secondary-color: #b8c2c2;
$accent-color: #867ac0;

$text-black-color: #060808;
$text-white-color: #ffffff;
$text-gray-color: #5F5F5F;

$background-page-color: #fbfdfd;
$background-lightgray-color: #f2f2f2;

/*  Breakpoints  */
$br-lg: 1480px;
$br-md: 768px;
$br-sm: 480px;

/* Paddings */
$p-body: 0 1rem;
$p-body-sm: 0 0.5rem;

/*  Radius  */
$card-product-radius: 15px;
$button-radius: 30px;

/*  Font Sizes  */

/*  Fonts  */
:root {
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype-variations"),
       url("./assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-display: swap;
}

:root {
  /* Colors */
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --accent-color: #{$accent-color};

  --text-black-color: #{$text-black-color};
  --text-white-color: #{$text-white-color};
  --text-gray-color: #{$text-gray-color};

  --background-page-color: #{$background-page-color};
  --background-lightgray-color: #{$background-lightgray-color};

  /* Breakpoints */
  --br-lg: #{$br-lg};
  --br-md: #{$br-md};
  --br-sm: #{$br-sm};

  /* Radius */
  --card-product-radius: #{$card-product-radius};
  --button-radius: #{$button-radius};
}