

/* селектор атрибуту для стилізації всіх обєктів де є __container ця частина */
[class*="__container"]{

  max-width: 80.208333%; /* 1540px/1920 */
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;        /*обмежений по ширині блочний елемент став по центру свого батьківського елементу*/ 
}

.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  }
  .wrapper > main{
  flex-grow: 1;
  }






